div{
    padding:30px;
    width:600px;
}
#intro{
    border:solid 2px forestgreen;
    border-radius: 20px;
}
#intro h3{
    border-bottom:solid 2px #888888;
    padding-bottom:5px;
}
#main h3{
    border-left:solid 7px goldenrod;
}
#intro span{
    color:slateblue;
}